<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @profile.avatar %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>


<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<% if current_user == @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
